.interior {
    display: grid;
    width: fit-content;
    height: fit-content;
    margin-left: 25px;
    margin-top: 25px;
    justify-content: space-between;
    background-color: black;
    box-shadow: inset 0 0 10px white;
    border-radius: 16px;

    .nodes {
        display: flex;
        margin: 10px;

        .node {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: translateY(-15px);
            p {
                color: white;
                display: flex;
            }
        }
    }

    .glass {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0.9px);
        border: 1px solid rgba(255, 255, 255, 1);
        width: 100%;
        height: 100%;
        //background: url(noise.svg);
        top: 0;
        left: 0;

    }

    .glass,
    .nodes {

        grid-area: 1/1;
    }
}

.bottle {
    background: white url(bottle.svg);
    height: 80px;
    width: 40px;
    transform: translateX(20px) translateY(10px);
}

.segment {
    height: 100px;
    width: 80px;
    margin: 10px;
    .base {
        background-color: rgb(139, 131, 131);
        height: 20px;
        width: 80px;
        transform: translateY(0px);
        z-index: 10;
    }
    .spiral {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .innerspiral {
            margin: 0;
            height: 40px;
            width: 40px;
            background-color: rgb(0,0,0,0);
            //background: radial-gradient(circle at 0% 100%, black 40%, white 60%);
            border: 5px white solid;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        transform: translateY(-80px) translateZ(-10px);
        z-index: -9;
        
    }
}