.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: linear-gradient( rgb(190, 29, 29) 20%, rgb(153, 65, 65) 50%, rgb(70, 5, 48) 80%);
    width: fit-content;
    height: fit-content;
}

.column1 {
    .interior {
        display: flex;
        background-color: black;
        width: fit-content;
        height: fit-content;
        margin-left: 25px;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        box-shadow: 1px 2px 3px 4px gray;
        .nodes {
            display: flex;
            margin: 10px;
            .node {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    margin: 10px;
                    background-color: red;
                    display: flex;
                    height: 100px;
                    width: 80px;
                }
            }
        }
        border: 2px solid white;
    }

    .push {
        background-color: black;
        height: 90px;
        margin: 25px;
        justify-content: center;
        align-items: center;
        color: #ffa500
    }
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffa500;

    .window {
        margin: 15px;
        display: flex;
        background-color: black;
        width: 105px;
        height: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .coins {
        margin: 15px;
        display: flex;
        background-color: black;
        width: 90px;
        height: 30px;
        justify-content: center;
        align-items: center;
        color: rgb(237, 202, 161)
    }
}